
<html>
  <head>
    <title>My Blog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Open+Sans:wght@300&family=Prosto+One&display=swap" rel="stylesheet">
  </head>
  <body>
    

    
    <div  class="d-flex justify-content-center align-content-center text-center mt-1">
      <img src={{test.image}} class="p-5" alt="..." style ="height:780px !important; width:1100px !important">
    </div>
    <img src={{test.qr_code}} style="position:absolute; bottom :120px ;background-color: transparent ;margin-left: auto; margin-right: auto; left: 0; right: 0; border-radius: 8px ;" alt="kk"/>
    {{#if test.ministere}}
    <img src={{test.ministere}} style="position:absolute; top :7% ;background-color: transparent ; right: 5%; width : 350px ;" alt="ddd"/>
    {{/if}}
    {{#if test.presidence}}
    <img src={{test.presidence}} style="position:absolute; top :8% ;background-color: transparent ; left: 18%; width :90px;"  />
    {{/if}}
    {{#if test.etablissement}}
    <img src={{test.etablissement}} style="position:absolute; top :8% ;background-color: transparent ; left: 0; width :250px; margin-left: auto; margin-right: auto; left: 0; right: 0; "  />
    {{/if}}

    <p style="font-family: 'Prosto One', cursive;, cursive; font-size : 33pt; position: absolute; margin-left: auto; margin-right: auto; left: 0; right: 0; top:34%; text-align: center; color :#117389">{{test.titre_diplome}}</p>
    <p style="font-family: 'Dancing Script', cursive; font-size : 32pt; position: absolute; margin-left: auto; margin-right: auto; left: 0; right: 0; top:45%; text-align: center; ">{{test.fullName}}</p>
    <p style="font-family: 'Prosto One', cursive; font-size : 12pt; position: absolute;  left: 39%; right: 0; top:53%; color :#10697c" ">{{test.cne}}</p>
    <p style="font-family: 'Prosto One', cursive; font-size : 12pt; position: absolute;   right: 24%; top:53%; color :#10697c" ">{{test.cin}}</p>
    <p style="font-family: 'Prosto One', cursive; font-size : 12pt; position: absolute;  left: 27%; right: 0; bottom:38%;  ">{{test.mention}}</p>
    <p style="font-family: 'Prosto One', cursive; font-size : 12pt; position: absolute;  left: 26%; right: 0; bottom:34%; color :#10697c" ">{{test.filiere}}</p>
    <p style="font-family: 'Prosto One', cursive; font-size : 12pt; position: absolute;  left: 26%; right: 0; bottom:30%; color :#10697c" ">{{test.local}}</p>
    <p style="font-family: 'Prosto One', cursive; font-size : 12pt; position: absolute;   right: 23%; bottom:30%; color :#10697c" ">{{test.date}}</p>
    <p style="font-family: 'Dancing Script', cursive; font-size : 15pt; position: absolute;   right: 15%; bottom:19%;  text-align: center;  margin-left: auto; margin-right:auto ;width: 200px;">{{test.signer_primary.fullname}}</p>
    <p style="font-family: 'Prosto One', cursive; font-size : 9pt; position: absolute;   right: 15%; top:80%;  text-align: center;  margin-left: auto; margin-right:auto ; width: 200px; word-wrap: break-word;line-height : 0.9;   ">{{test.signer_primary.position}}</p>

    {{#if test.signer_secondary}}
    <p style="font-family: 'Dancing Script', cursive; font-size : 15pt; position: absolute;   left: 15%; bottom:19%;  text-align: center;  margin-left: auto; margin-right:auto ;width: 200px;">{{test.signer_secondary.fullname}}</p>
    <p style="font-family: 'Prosto One', cursive; font-size : 9pt; position: absolute;   left: 15%; top:80%;  text-align: center;  margin-left: auto; margin-right:auto ; width: 200px; word-wrap: break-word;line-height : 0.9;    ">{{test.signer_secondary.position}}</p>
    {{/if}}

   
   


  </body>